.product-item {
  padding: 3rem 2rem;
  font-family: 'FF Bau';
  .product-info {
    min-height: 200px;
  }
  a {
    color: #000000;
    font-size:16px;
    img {
      object-fit: contain;
      max-width: 100%;
      max-height: 170px;
    }
  }

  .description, .price {
    font-size:16px;
  }

  .price {
    margin: 16px 0px 8px 0px;
  }

  .add-to-cart {
    font-weight: bold;
    font-family: "FF Bau", sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 52px;
    background: rgb(75, 85, 72);
    color: rgb(252, 252, 249);
    width: 50%;
    white-space: normal;
    border-radius: 0px;
  }
}
