@font-face {
  font-family: "Karla-Italic";
  src: local("Karla-Italic"),
    url("./fonts/Karla-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Karla";
  src: local("Karla"),
    url("./fonts/Karla-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: bold;
}