@font-face {
  font-family: 'Karla-Italic';
  src: local('Karla-Italic'),
    url('./fonts/Karla-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Karla';
  src: local('Karla'),
    url('./fonts/Karla-VariableFont_wght.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('./fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'FF Bau';
  src: local('FF Bau'), url('./fonts/FFBauRegular.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'freight-display-pro';
  src: local('freight-display-pro'),
    url('./fonts/freight-display-pro.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
}
